/* 연필 아이콘 기본 */
.pencil {
  display: inline-block;
  transform-origin: bottom left; /* 손으로 쓰는 기준점 */
}

/* 연필 쓰는 느낌 애니메이션 */
@keyframes pencil-write {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  20% {
    transform: rotate(-10deg) translate(-1px, 1px);
  }
  40% {
    transform: rotate(10deg) translate(1px, -1px);
  }
  60% {
    transform: rotate(-5deg) translate(-1px, 0);
  }
  80% {
    transform: rotate(5deg) translate(1px, 1px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

/* hover 시 연필 흔들림 */
.group:hover .pencil {
  animation: pencil-write 0.45s ease-in-out;
}
