.post-layout{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.post-hero {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / span 10;

  .post-title {
    grid-column: 3 / span 6;
  }
  .post-subtitle {
    grid-column: 3 / span 6;
    display: flex;

    justify-content: space-between;

    .post-meta {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .post-ButtonComponent {
      display: flex;
      gap: 20px;
      .post-moreBtn {
        padding: 10px;
        display: none;
      }
      .post-correction {
        padding: 10px;
        display: block;
      }
      .post-delete {
        padding: 10px;
        display: block;
      }
    }
  }
  .post-body {
    grid-column: 3 / span 8;
  }

  @media (width <= 640px) {
    .post-subtitle {
      .post-ButtonComponent {
        .post-moreBtn {
          display: block;
        }
        .post-correction {
          display: none;
        }
        .post-delete {
          display: none;
        }
      }
    }
  }
  @media (width <= 1024px) {
    grid-column: 1 / -1 ;
    .post-title, .post-subtitle, .post-body{
      grid-column: 2 / span 10;
    }
  }
}
.post-body{
  display: grid;
  grid-template-columns: subgrid;

  .post-content{
    grid-column: 1 / span 6;
  }
  .post-aside-right{
    grid-column: 7 / span 2;
    position: sticky;
    top: 120px;
    margin-inline-start: 3.4375rem;
    align-self: start;
    
  }
  @media (width <= 1024px) {
    .post-content{
      grid-column: 1 / -1 ;
    }
    .post-aside-right{
      display: none;
    }
  }
}