.post-hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .post-title {
    grid-column: 2 / span 10;
  }
  .post-subtitle {
    grid-column: 2 / span 10;
    display: flex;

    justify-content: space-between;

    .post-meta {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .post-ButtonComponent {
      display: flex;
      gap: 20px;
      .post-moreBtn {
        padding: 10px;
        display: none;
      }
      .post-correction {
        padding: 10px;
        display: block;
      }
      .post-delete {
        padding: 10px;
        display: block;
      }
    }
  }
  .post-contents {
    grid-column: 2 / span 10;
  }

  @media (width <= 640px) {
    .post-subtitle {
      .post-ButtonComponent {
        .post-moreBtn {
          display: block;
        }
        .post-correction {
          display: none;
        }
        .post-delete {
          display: none;
        }
      }
    }
  }
}
