.scroll::-webkit-scrollbar{
    width: 7px;
    background-color: oklch(98.5% 0.002 247.839);
}
.scroll::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: oklch(87.2% 0.01 258.338);
}
.scroll::-webkit-scrollbar-button{
    display: none;
}

html.dark .scroll::-webkit-scrollbar{
    background-color: oklch(27.8% 0.033 256.848);
}
html.dark .scroll::-webkit-scrollbar-thumb{
    background-color: oklch(44.6% 0.03 256.802);
}